/node_modules/
/public/build/
/public/fonts/
/config/local*
/output
/web-ext-artifacts

yarn-debug.log*
yarn-error.log*

.DS_Store
/test-results/
/playwright-report/
/playwright-videos/
/playwright/.cache/
/playwright/.auth/
