@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(ccext) source("../../..");
@import "tailwindcss/utilities.css" layer(utilities) prefix(ccext)
  source("../../..");
