.ccext\:github-v1,
.ccext\:github-v2 {
  --ccext-margin: var(--base-size-8, 0.5rem);

  .ccext\:combobox-value {
    padding: var(--base-size-8);
    padding-block: calc(
      var(--control-medium-paddingBlock) - var(--borderWidth-thin)
    );
    padding-inline: var(--control-medium-paddingInline-condensed);
  }

  .ccext\:combobox-value-placeholder {
    padding: var(--base-size-8);
    padding-block: calc(
      var(--control-medium-paddingBlock) - var(--borderWidth-thin)
    );
    padding-inline: var(--control-medium-paddingInline-condensed);
    color: var(--fgColor-muted, var(--color-fg-subtle));
  }
  .ccext\:popover-button {
    color: var(--button-default-fgColor-rest);
    background-color: var(--button-default-bgColor-rest);
    border: var(--borderWidth-thin) solid;
    border-color: var(--button-default-borderColor-rest);
    box-shadow:
      var(--button-default-shadow-resting), var(--button-default-shadow-inset);
    border-radius: var(--borderRadius-medium);
    transition: var(--duration-fast) var(--easing-easeInOut);
    transition-property: color, fill, background-color, border-color;

    &:hover {
      background-color: var(--button-default-bgColor-hover);
      border-color: var(--button-default-borderColor-hover);
      transition-duration: var(--duration-fast);
    }

    &:active {
      background-color: var(--button-default-bgColor-active);
      border-color: var(--button-default-borderColor-active);
    }

    > svg {
      fill: currentColor;
      width: 16px;
      height: 16px;
    }
  }

  .ccext\:popover-content {
    margin: var(--base-size-4) 0;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--overlay-bgColor, var(--color-canvas-overlay));
    background-clip: padding-box;
    border: var(--borderWidth-thin) solid
      var(--borderColor-default, var(--color-border-default));
    border-radius: var(--borderRadius-medium);
    box-shadow: var(--shadow-floating-legacy, var(--color-shadow-large));
  }

  .ccext\:popover-content-input-container {
    border-bottom: var(--borderWidth-thin) solid
      var(--borderColor-muted, var(--color-border-muted));

    .ccext\:popover-content-input-label {
      font-size: var(--text-body-size-medium, 0.875rem);
      font-weight: var(--base-text-weight-semibold, 600);
      margin-left: var(--base-size-8, 0.5rem);
      padding-left: var(--base-size-8, 0.5rem);
      padding-right: var(--base-size-8, 0.5rem);
      padding-top: var(--base-size-8, 0.5rem);
    }

    .ccext\:popover-content-input-wrapper {
      width: auto;
      margin: var(--base-size-8, 0.5rem);
      padding-left: var(--base-size-8, 0.5rem);
      --inner-action-size: var(--base-size-24, 1.5rem);
      font-size: var(--text-body-size-medium, 0.875rem);
      align-self: stretch;
      display: flex;
      background-color: var(
        --control-bgColor-contrast,
        var(--bgColor-inset, var(--color-canvas-inset))
      );
      align-items: stretch;
      border: var(--borderWidth-thin, 0.0625rem) solid
        var(--control-borderColor-rest, var(--color-btn-border));
      border-radius: var(--borderRadius-medium, 0.375rem);
      box-shadow: var(--shadow-inset, var(--color-primer-shadow-inset));
      color: var(--fgColor-default, var(--color-fg-default));
      cursor: text;
      line-height: var(--base-size-20, 1.25rem);
      min-height: var(--base-size-32, 2rem);
      outline: none;
      overflow: hidden;
      vertical-align: middle;
      &:focus-within {
        border-color: var(--borderColor-accent-emphasis);
        outline: var(--borderWidth-thick) solid
          var(--borderColor-accent-emphasis);
        outline-offset: -1px;
      }

      > svg {
        display: inline-block;
        height: 16px;
        width: 16px;
        align-self: center;
        color: var(--fgColor-muted, var(--color-fg-muted));
        flex-shrink: 0;
        margin-right: var(--base-size-8, 0.5rem);
      }

      > input {
        color: var(--fgColor-default, var(--color-fg-default, #1f2328));
        margin-right: var(--base-size-8, 0.5rem);
        padding-right: var(--base-size-8, 0.5rem);
        padding-left: 0;
        cursor: text;
        appearance: none;
        background-color: initial;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        width: 100%;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .ccext\:popover-content-list {
    max-height: 300px;
  }

  .ccext\:popover-empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--base-size-4, 0.25rem);
    height: 100%;
    justify-content: center;
    padding: var(--base-size-24, 1.5rem);
    text-align: center;
  }

  .ccext\:popover-empty-title {
    font-size: var(--text-body-size-medium, 0.875rem);
    font-weight: var(--base-text-weight-semibold, 600);
  }

  .ccext\:popover-empty-description {
    color: var(--fgColor-muted, var(--color-fg-muted));
    font-size: var(--text-body-size-small, 0.75rem);
  }

  .ccext\:popover-item {
    color: var(--fgColor-default);
    display: block;
    padding: var(--control-small-paddingBlock)
      var(--control-medium-paddingInline-condensed)
      var(--control-small-paddingBlock) var(--base-size-32, 32px);

    &[aria-selected="true"] {
      background-color: var(--bgColor-accent-emphasis);
      color: var(--fgColor-onEmphasis);

      .ccext\:popover-item-description {
        color: var(--fgColor-onEmphasis);
      }
    }

    &:not(:last-child) {
      border-bottom: var(--borderWidth-thin) solid
        var(--borderColor-muted, var(--color-border-muted));
    }
  }

  .ccext\:popover-item-description {
    color: var(--fgColor-muted, var(--color-fg-muted));
  }

  .ccext\:popover-item-icon {
    position: absolute;
    margin-left: calc(-1 * var(--base-size-24, 24px));
    > svg {
      display: inline-block;
      vertical-align: text-bottom;
      height: 16px;
      width: 16px;
    }
  }

  .ccext\:badge {
    color: var(--button-default-fgColor-rest);
    background-color: var(--button-default-bgColor-rest);
    border: var(--borderWidth-thin) solid;
    border-color: var(--button-default-borderColor-rest);
    box-shadow:
      var(--button-default-shadow-resting), var(--button-default-shadow-inset);
    border-radius: 2em;
    padding: 0 7px;
    line-height: 18px;
    white-space: nowrap;
  }

  .ccext\:badge-button {
    margin-left: var(--control-small-gap);
    fill: currentColor;
    height: 12px;
    width: 12px;
    padding: 1px;
    box-sizing: content-box;

    &:hover {
      color: var(--fgColor-accent);
    }

    > svg {
      display: block;
      width: 12px;
      height: 12px;
    }
  }
}
