.ccext\:gitlab-v1 {
  --ccext-margin: 0.5rem;

  .ccext\:combobox-value {
    color: var(--gl-text-color-default, var(--gl-color-neutral-800, #3a383f));
    line-height: 1rem;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }

  .ccext\:combobox-value-placeholder {
    color: var(--gl-control-placeholder-color);
  }

  .ccext\:popover-button {
    border-style: none;
    background-color: var(--gl-control-background-color-default);
    box-shadow: inset 0 0 0 1px var(--gl-control-border-color-default);
    color: var(--gl-text-color-default, var(--gl-color-neutral-800, #3a383f));
    border-radius: 0.25rem;
    transition:
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--gl-control-border-color-hover);
    }

    > svg {
      fill: none;
      width: 16px;
      height: 16px;
    }
  }

  .ccext\:erase-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    background-color: var(--gl-button-default-primary-background-color-default);

    &:hover {
      box-shadow: none;
      background-color: var(--gl-button-default-primary-background-color-hover);
    }
  }

  .ccext\:popover-content {
    margin-top: 7px;
    background-color: var(--gl-dropdown-background-color);
    border-radius: var(--gl-dropdown-border-radius);
    --tw-drop-shadow: drop-shadow(
        0 0 0.5px var(--gl-shadow-color-default, #05050629)
      )
      drop-shadow(0 0.5px 1px var(--gl-shadow-color-default, #05050629))
      drop-shadow(0 1px 3px var(--gl-shadow-color-default, #05050629));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    z-index: 1000;
  }

  .ccext\:popover-content-list {
    max-height: 300px;
  }

  .ccext\:popover-content-input-container {
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: var(
      --gl-dropdown-divider-color,
      var(--gl-border-color-default, #dcdcde)
    );
    border-bottom-width: 1px;

    .ccext\:popover-content-input-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      top: calc(50% - 12px / 2);
      left: 0.75rem;
      color: var(--gl-icon-color-subtle);
      fill: none;
      stroke: currentColor;
    }

    .ccext\:popover-content-input-label {
      border-bottom-style: solid;
      padding: 0.75rem;
      border-bottom-color: var(
        --gl-dropdown-divider-color,
        var(--gl-border-color-default, #dcdcde)
      );
      border-bottom-width: 1px;
      color: var(--gl-text-color-strong, var(--gl-color-neutral-950, #18171d));
      font-weight: 600;
      font-size: 0.75rem;
    }

    .ccext\:popover-content-input-wrapper {
      border-bottom-style: solid;
      border-bottom-color: var(--gl-dropdown-divider-color);
      border-bottom-width: 1px;
      position: relative;

      > svg {
        fill: none;
        position: absolute;
        top: calc(50% - 12px / 2);
        left: 0.75rem;
        color: var(--gl-icon-color-subtle);
        width: 12px;
        height: 12px;
      }

      > input {
        color: var(--gl-text-color-default);
        background-color: var(--gl-dropdown-search-background-color);
        line-height: 1rem;
        height: auto;
        border-style: none;
        border-radius: var(--gl-border-radius-none);
        padding-left: calc(2rem + 0.25rem);
        padding-right: calc(1.5rem + 0.25rem);
        padding-top: var(--gl-spacing-scale-4);
        padding-bottom: var(--gl-spacing-scale-4);
        font-size: 0.875rem;
        width: 100%;
        appearance: textfield;
        outline-offset: -2px;

        &:focus {
          box-shadow:
            inset 0 0 0 2px var(--gl-focus-ring-outer-color),
            inset 0 0 0 3px var(--gl-focus-ring-inner-color),
            inset 0 0 0 1px var(--gl-focus-ring-inner-color);
          outline: none;
        }
      }
    }
  }

  .ccext\:popover-item {
    white-space: normal;
    cursor: pointer;
    font-weight: 400;
    line-height: 1rem;
    padding-left: var(--gl-spacing-scale-5);
    padding-right: var(--gl-spacing-scale-5);
    padding-top: var(--gl-spacing-scale-0);
    padding-bottom: var(--gl-spacing-scale-0);
    position: relative;
    border-radius: var(--gl-border-radius-none);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    color: var(--gl-dropdown-option-text-color-default);
    text-align: left;
    width: 100%;
    align-items: center;
    background-color: transparent;
    border-width: 0px;
    display: flex;
    font-size: 0.875rem;
    background: rgba(0, 0, 0, 0);
    border: 0;

    &[aria-selected="true"] {
      background-color: var(
        --gl-dropdown-option-background-color-unselected-hover
      );
    }
  }

  .ccext\:popover-item-icon {
    flex-shrink: 0;
    margin-right: var(--gl-spacing-scale-3);
    color: var(--gl-dropdown-option-indicator-color-selected-default);
    fill: none;
    align-self: flex-start;
    margin-top: var(--gl-spacing-scale-3);
    > svg {
      fill: none;
      width: 16px;
      height: 16px;
    }
  }

  .ccext\:popover-item-wrapper {
    min-width: var(--gl-spacing-scale-0);
    flex-grow: 1;
    margin-right: var(--gl-spacing-scale-3);
    padding-top: var(--gl-spacing-scale-3);
    padding-bottom: var(--gl-spacing-scale-3);
  }

  .ccext\:popover-item-title {
    font-weight: 600;
  }

  .ccext\:popover-item-description {
    font-size: 0.875em;
    font-weight: 400;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .ccext\:badge {
    margin-top: calc(var(--gl-spacing-scale-1) * -1);
    margin-bottom: calc(var(--gl-spacing-scale-1) * -1);
    background-color: var(--gl-badge-neutral-background-color-default);
    color: var(--gl-badge-neutral-text-color-default);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.125rem 0.375rem;
    padding-right: 0;
    transition:
      color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
      background-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
      border-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
      box-shadow 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    border-radius: 10rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .ccext\:badge-button {
    background-color: var(--gl-label-dark-button-background-color-default);
    color: var(--gl-badge-neutral-text-color-default);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-width: 0px;
    display: flex;
    width: 0.875rem;
    height: 0.875rem;
    min-height: auto !important;
    min-width: auto !important;
    margin-left: -0.1875rem;
    margin-right: 0.1875rem;
    border-radius: var(--gl-border-radius-full);
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--gl-badge-neutral-background-color-default);
      background-color: var(--gl-badge-neutral-text-color-default);
    }

    > svg {
      fill: none;
      stroke: currentColor;
      width: 12px;
      height: 12px;
    }
  }

  .ccext\:popover-empty {
    padding: var(--gl-spacing-scale-3) var(--gl-spacing-scale-5);
    text-align: center;
    color: var(--gl-text-color-subtle);
  }
}
