name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "25 14 * * *"
jobs:
  setup:
    name: Setup
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

  eslint:
    name: ESLint
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run ESLint
        run: yarn lint:eslint

  prettier:
    name: Prettier
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run Prettier
        run: yarn lint:prettier

  typecheck:
    name: TypeScript check
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run TypeScript check
        run: yarn lint:tsc

  svelte:
    name: Svelte check
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run Svelte check
        run: yarn lint:svelte

  jest:
    name: Jest
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Run Jest
        run: yarn test

  build:
    name: Build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [eslint, prettier, typecheck, svelte, jest]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Build extension
        run: yarn build

      - name: Save extension
        id: cache-extention
        uses: actions/cache@v4
        with:
          path: public/build
          key: extension-${{ github.run_id }}

  e2e-github:
    name: Test extension on GitHub
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Restore extension
        id: cache-extention
        uses: actions/cache@v4
        with:
          path: public/build
          key: extension-${{ github.run_id }}

      - name: Install Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Install Playwright dependencies
        run: yarn playwright install --with-deps chromium

      - name: Run Playwright tests
        uses: coactions/setup-xvfb@v1
        env:
          E2E_GITHUB_USERNAME: ${{ secrets.E2E_GITHUB_USERNAME }}
          E2E_GITHUB_PASSWORD: ${{ secrets.E2E_GITHUB_PASSWORD }}
          E2E_GITHUB_TOKEN: ${{ secrets.E2E_GITHUB_TOKEN }}
          E2E_GITHUB_2FA_SECRET: ${{ secrets.E2E_GITHUB_2FA_SECRET }}
          E2E_GOOGLE_BIN: ${{ steps.setup-chrome.outputs.chrome-path }}
          NODE_CONFIG_ENV: ci
        with:
          run: yarn playwright test --project=github

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-github
          path: |
            playwright-videos/
            test-results/
          retention-days: 5

  e2e-gitlab:
    name: Test extension on GitLab
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.13.1
          cache: yarn
          cache-dependency-path: ./yarn.lock

      - name: Restore extension
        id: cache-extention
        uses: actions/cache@v4
        with:
          path: public/build
          key: extension-${{ github.run_id }}

      - name: Install Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Install Playwright dependencies
        run: yarn playwright install --with-deps chromium

      - name: Run Playwright tests
        uses: coactions/setup-xvfb@v1
        env:
          E2E_GITLAB_USERNAME: ${{ secrets.E2E_GITLAB_USERNAME }}
          E2E_GITLAB_PASSWORD: ${{ secrets.E2E_GITLAB_PASSWORD }}
          E2E_GITLAB_TOKEN: ${{ secrets.E2E_GITLAB_TOKEN }}
          E2E_GITLAB_2FA_SECRET: ${{ secrets.E2E_GITLAB_2FA_SECRET }}
          E2E_GOOGLE_BIN: ${{ steps.setup-chrome.outputs.chrome-path }}
          NODE_CONFIG_ENV: ci
        with:
          run: yarn playwright test --project=gitlab

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-gitlab
          path: |
            playwright-videos/
            test-results/
          retention-days: 5
